<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MyCustomViews.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>76DC10F51BA1185D00C2F88E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76DC110A1BA1185D00C2F88E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76DC111F1BA1190100C2F88E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76DC11291BA1190100C2F88E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
